.header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid black;
}

.nav-items{
    list-style-type:none ;
    display: flex;
}

.nav-items > li{
    padding: 10px;
}

.image{
    width: 400px;
    height: 200px;
}

.cart{
    width:400px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.restura-list{
    display: flex;
    flex-wrap: wrap ;
}